.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableau {
  margin: 0 auto;
  font-size: 20px;
  border-collapse: collapse;
}

.tableau tr {
  border: 1px solid #333;
}

.tableau td {
  padding: 10px;
}

.tableau tr td:nth-child(1) {
  border-right: 1px solid #333;
}